//- header.pug
- var homedir="/Compiled-HTML"
head
  style
    include style.css
  title Tetra's ELA blog
body
  span
    a(href=`${homedir}/index.html` color=pink) Home
    |
    |
    a(href=`${homedir}/Posts/about-me.html` color=pink) About Me
    |
    |
    a(href=`${homedir}/Posts/tech-stuff.html` color=pink) Tech Stuff